.login_container {
  position: fixed;
  width: 100%;
  background-color: #000;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
.support_card{
  background-color: red;
  width: 300px;
  height: auto;
  padding: 112px 0px;
  text-align: center;
  button{
    border:  1px solid #fff;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  p{
    color: #fff;
    font-size: 12px;
  }
}
.login_card {
  background-color: #fff;
  width: 250px;
  height: auto;
  padding: 10px;
  box-shadow: 10px 5px 5px black;
  
    .eye{
    position: absolute;
    top: 57.4%;
    right: 53%;
    cursor: pointer;
  }
  
  
  .closer{
    color: rgb(233, 77, 77);
    &:hover{
      color: red;
    }
  }
  button{
    background-color: red;
    color: whitesmoke;
    width: 100px;
    padding: 3px 0;
    border: 1px solid red;
    font-weight: 700;
    border-radius: 6px;
    &:active{
      transform: scaleX(.98);
    }
    &:hover{
      background-color: rgb(229, 43, 43);
    }
  }
  p {
    color: red;
    font-size: 12px;
  }
  .user {
    display: flex;
    justify-content: center;
  }
  section {
    &:first-child {
      margin-bottom: 30px;
      margin-top: 10px;
    }
   

    .input {
      margin-top: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      height: 30px;
      background-color: rgb(173, 168, 168);
      border: 0;
      border-radius: 8px;
      input{
        width: 80%;
        height: 21px;
        background-color: transparent;
        border: 0;
        &:focus {
        outline: 0;
      }
      }
      
    }
  }
}
}
@media screen and (max-width: 600px) {
    .login_container {
      position: fixed;
    .login_card {
        position: initial;
        .eye{
          top: 55.5%;
          right: 56%;
        }
    }
    }
}