.homeContainer{
    max-width: 100%;
    .image_card{
        display: grid;
        grid-template-columns: repeat( 5, minmax(80px, 170px) );
        margin: 5px 0;
        justify-content: center;
     .image_holder{
    img{
       width: 150px; 
       height: 150px; 
       border-radius: 6px;
       transition: 0.5s ease-in-out;
       &:hover{
        box-shadow: 5px 3px 3px black;
       }
       color: #313030;
    }
  }   
    }
}

@media screen and (max-width: 600px) {
  .homeContainer{
    .image_card{
      grid-template-columns: repeat( 3, minmax(80px, 170px) );  
    }
  }
}