.navContainer {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #313030;
  img {
    width: 70px;
  }
  .user {
    width: 60px;
    height: 60px;
    background-color: rgb(254, 139, 24);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgb(16, 246, 169);
    }
  }

  .search {
    width: 500px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 0 4px;
    height: 30px;
    border-radius: 6px;
    input {
      width: 100%;
      border: 0;
      &:focus {
        outline: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {

  .navContainer {
    img {
      width: 50px;
    }
    padding: 0 15px;
    .search {
      width: 350px;
    }
  }
}